<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnLife</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styles/lumx.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("_Header")

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>