@{
    ViewBag.Title = "Home Page";
}

<section class="sec sec--intro">
    <div class="sec__content">
        <div class="intro-top tc-main">
            <span>Your life</span>
            <span class="dot-circle bgc-main"></span>
            <span class="dot-circle bgc-main"></span>
            <span class="dot-circle bgc-main"></span>
        </div>
        <div class="line"></div>
        <div class="intro-bot tc-green-500">            
            <span class="dot-circle bgc-green-500"></span>
            <span class="dot-circle bgc-green-500"></span>
            <span class="dot-circle bgc-green-500"></span>
            <span>your bundle</span>
        </div>
    </div>
</section>

<section class="bundles">

    <div class="bundle-mobile bundle">
        @Html.Partial("_SummaryHeader")
    </div>

    <div class="bundle bundle__build">
        <div class="bundle__header">           
            <span class="bundle-icon">
                <img src="~/Content/images/purple-home-data.png" alt="build bundle" />
            </span>
            <div class="bundle__header-text text-uppercase text-center">
                <div class="text-top">build your bundle</div>
                <div class="text-bot">select your options below</div>
            </div>
        </div>

        <div class="bundle__content ph+" data-bind="foreach: bundles">
            <div class="item-container" data-bind="css: { expanded: expanded }">
                <div class="item flex-container v-center">
                    <div class="item__icon">
                        <img src="~/Content/images/purple-home-data.png" />
                    </div>
                    <div class="item__content bold">home data <span data-bind="if: includeMobileTalk">+ talk</span></div>
                    <div class="item__price" data-bind="if: id() > 0">$80</div>
                    <div class="item__dropdown" data-bind="if: id() > 0, click: $root.toggleBundle">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="item__button" data-bind="if: id() === 0">
                        <a class="button button--sm button-add" data-bind="click: create">add</a>
                    </div>
                </div>
                <!-- //item header -->

                <div class="item__details" data-bind="visible: expanded">

                    <div class="detail detail--talk">
                        <span class="image">
                            <img src="@Url.Content("~/Content/images/purple-mobile-talk-icon.png")" />
                        </span>
                        <div class="text flex-container v-center" data-bind="click: toggleMobileTalk">
                            <span class="flex-item">Add mobile talk</span>
                            <!-- ko if: includeMobileTalk -->
                            <img src="~/Content/images/checked.png" />
                            <!-- /ko -->
                        </div>
                        <!--<div class="action"></div>-->
                    </div>
                    <!-- //mobile talk -->

                    <!-- ko foreach: options -->

                    <div class="detail detail--data" xdata-bind="css: dataClass" xdata-bind="foreach: options">
                        <span class="image">
                            <img x-src="@Url.Content("~/Content/images/purple-mobile-talk-icon.png")" data-bind="attr: { src: icon }" />
                        </span>
                        <div class="text" data-bind="text: name"></div>
                        <div class="action" data-bind="foreach: options">
                            <a href="#" data-bind="text: text, css: { selected: selected }, click: $parent.selectOption"></a>
                        </div>
                    </div>

                    <!-- /ko -->

                    @*

                    <div class="detail detail--data">
                        <span class="image">
                            <img src="@Url.Content("~/Content/images/purple-mobile-talk-icon.png")" />
                        </span>
                        <div class="text">Data</div>
                        <div class="action">
                            <a href="#">7gb</a>
                            <a href="#">10gb</a>
                        </div>
                    </div>
                    <!-- //data -->

                    <div class="detail detail--topup">
                        <span class="image">
                            <img src="@Url.Content("~/Content/images/dollar.png")" />
                        </span>
                        <div class="text">Topup</div>
                        <div class="action">
                            <a href="#">Auto</a>
                            <a href="#">Manual</a>
                        </div>
                    </div>
                    <!-- //topup -->

                    <div class="detail detail--contract">
                        <span class="image">
                            <img src="@Url.Content("~/Content/images/contract.png")" />
                        </span>
                        <div class="text">Contract</div>
                        <div class="action">
                            <a href="#">12 Months</a>
                            <a href="#">Monthly</a>
                        </div>
                    </div>
                    <!-- //contract -->

                    *@

                    <div class="detail detail--remove flex-container h-end v-center p0">
                        <a href="#" class="remove-detail" data-bind="click: $root.removeBundle">
                            <span class="glyphicon glyphicon-trash tc-red-500"></span>
                        </a>
                    </div>
                    <!-- //remove -->
                </div>
                <!-- //item details -->
            </div>
        </div>

        <div class="bundle__footer flex-container h-center p++">
            <a href="#" class="button button--add-data" data-bind="click: addBundle">
                <img src="~/Content/images/purple-mobile-data.png" />
                <span>add another mobile data</span>
            </a>
        </div>
    </div>
    <!-- //bundle build -->

    <div class="bundle bundle__summary">
        
        @Html.Partial("_SummaryHeader")

        <div class="bundle__content">

            <header class="flex-container v-center bgc-light-300 p++ mb bold">
                <img src="~/Content/images/purple-summary-icon.png" alt="build summary" class="mr+" />
                <span class="text-uppercase">bundle summary</span>
            </header>

            <div class="summary-container">
                @for (int i = 0; i < 2; i++)
                {
                    <div class="summary bgc-light-300">
                        <div class="summary__header flex-container v-center">
                            <span class="flex-container v-center mr+">
                                <img src="~/Content/images/purple-home-data.png" />
                                <i class="glyphicon glyphicon-plus"></i>
                                <img src="~/Content/images/purple-home-talk-icon.png" />
                            </span>
                            <span class="bold text-uppercase">home data + talk</span>
                        </div>
                        <div class="summary__content flex-container">
                            <div class="flex-item">
                                <h5 class="text-uppercase">details</h5>
                                <ul>
                                    <li>- 100BG data</li>
                                    <li>- 50mbps</li>
                                    <li>- Local, national &amp; mobile talk</li>
                                    <li>- Monthly contract</li>
                                </ul>
                            </div>
                            <div class="flex-item">
                                <h5 class="text-uppercase">chargers</h5>
                                <ul>
                                    <li>$60 upfront (modem)</li>
                                    <li>%55 minimum month</li>
                                    <li>$720 12 month minium cost</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div class="bundle__footer flex-container h-center p++">
            <a href="#" class="button button--signup">
                <img src="~/Content/images/onlife-logomark.png" />
                <span>sign me up to onlife</span>
            </a>
        </div>
    </div>
    <!-- //bundle summary -->
</section>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/bundle.js")"></script>
}